In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 1
array_random=np.random.randint(low=1,high=10,size=(4,4))
df=pd.DataFrame(array_random,columns=[1,2,3,4], index=[1,2,3,4])
df

   1  2  3  4
1  4  6  3  3
2  6  2  2  5
3  9  4  1  3
4  2  8  5  6

In [ ]:
# 2
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
1               4               6               3               3
2               6               2               2               5
3               9               4               1               3
4               2               8               5               6

In [ ]:
# 3
print(df.describe())

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000            4.00
mean         5.250000        5.000000        2.750000            4.25
std          2.986079        2.581989        1.707825            1.50
min          2.000000        2.000000        1.000000            3.00
25%          3.500000        3.500000        1.750000            3.00
50%          5.000000        5.000000        2.500000            4.00
75%          6.750000        6.500000        3.500000            5.25
max          9.000000        8.000000        5.000000            6.00

In [ ]:
# 4
print(df.isnull())
print(df.dtypes)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
4           False           False           False           False
Random Value 1    int64
Random Value 2    int64
Random Value 3    int64
Random Value 4    int64
dtype: object

In [ ]:
# 5
print(df.loc[:,['Random Value 2','Random Value 3']])

   Random Value 2  Random Value 3
1               6               3
2               2               2
3               4               1
4               8               5

In [ ]:
# 5.1
print(df.iloc[:, 1: 3])

   Random Value 2  Random Value 3
1               6               3
2               2               2
3               4               1
4               8               5